<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Identity.Client" version="4.53.0" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.29.0" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.29.0" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.29.0" />
  <package id="Microsoft.IdentityModel.Logging" version="6.29.0" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.29.0" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.29.0" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.29.0" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" />
  <package id="runtime.native.System.Data.SqlClient.sni" version="4.7.0" />
  <package id="runtime.win-arm64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x86.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.29.0" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" />
  <package id="System.Memory.Data" version="7.0.0" />
  <package id="System.Private.Uri" version="4.3.2" />
  <package id="System.Runtime.Caching" version="7.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Runtime.Loader" version="4.3.0" />
  <package id="System.Security.AccessControl" version="6.0.0" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="7.0.1" />
  <package id="System.Security.Permissions" version="7.0.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.2" />
</packages>